:root {
    --bg-desktop: #b8a7ff;
    --bg-window: #f3edff;
    --bg-title: #7c63ea;

    --black: #000;
    --light: #ffffff;
    --dark: #3a2f63;

    --shadow: #725fbd;
    --padding: 8px;
}

html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pixelFont;
    src: url(assets/fonts/PixelifySans-VariableFont_wght.ttf);
}

* {
    font-family: pixelFont;
    border-radius: 0 !important;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: var(--bg-desktop);
    overflow: hidden;
}

.shadow {
    box-shadow: -4px 4px 0 var(--shadow);
}

/* Barra de Tarefas */
.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cfc7ff;
    border-top: 2px solid var(--light);
    border-left: 2px solid var(--light);
    border-right: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    padding: 0 6px;
}

.taskbar-icons {
    background: #d9d2ff;
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
    padding: var(--padding);
    font-size: 14px;
    cursor: pointer;
    height: 90%;
}

.taskbar-icons:active {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.start-icon {
    width: 24px;
}

/* Ícones */
.shortcuts {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.desktop-icon {
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.desktop-icon img {
    width: 32px;
}

.desktop-icon span {
    margin-top: 4px;
    display: block;
    font-size: 13px;
}

/* Janelas */
.window {
    width: 60%;
    height: 80%;
    background: var(--bg-window);

    position: absolute;
    display: none;

    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.title-bar {
    background: var(--bg-title);
    color: white;

    height: 28px;
    padding: var(--padding);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--dark);
}

.window-buttons {
    display: flex;
    gap: 4px;
}

.title-bar button {
    height: 24px;
    padding: auto;
    height: 20px;
    cursor: pointer;
    background: #e7e3ff;
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.title-bar button:active {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.window-content {
    padding: var(--padding);
    font-size: 14px;
}

#viewer {
    width: 100%;
    height: calc(100% - (var(--padding) * 3));
}

#viewer iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Explorer */
.folders {
    padding: 16px;
    display: flex;
    gap: 16px;
}

.folder {
    width: 96px;
    text-align: center;
    cursor: pointer;
}

.folder img {
    width: 64px;
}

.file-list {
    padding: 16px;
    border-top: 2px solid var(--bg-title);
}

.file-item {
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    border: 2px solid var(--bg-title);
    color: var(--bg-title);
}

.file-icon {
    width: 24px;
}