:root {
    --bg-desktop: #b8a7ff;
    --bg-window: #ede5ff;
    --bg-title: #7c63ea;

    --button: #d9d2ff;

    --black: #000;
    --light: #ffffff;
    --dark: #3a2f63;

    --shadow: #725fbd;
    --padding: 8px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

@font-face {
    font-family: pixelFont;
    src: url(assets/fonts/VCR_OSD_MONO_1.001.ttf);
}

* {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: none;
    font-family: pixelFont;
    border-radius: 0 !important;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: var(--bg-desktop);
    overflow: hidden;
}

.shadow {
    box-shadow: -4px 4px 0 var(--shadow);
}

@media (max-width: 720px) {
    #start-menu {
        width: 75% !important;
        height: 50% !important;
    }

    .window {
        width: 70% !important;
        height: auto !important;
    }

    .file-list {
        height: auto !important;
        max-height: none !important;
        overflow: visible !important;
    }
}