:root {
    --bg-desktop: #b8a7ff;
    --bg-window: #ede5ff;
    --bg-title: #7c63ea;

    --button: #d9d2ff;

    --black: #000;
    --light: #ffffff;
    --dark: #3a2f63;

    --shadow: #725fbd;
    --padding: 8px;
}

html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pixelFont;
    src: url(assets/fonts/VCR_OSD_MONO_1.001.ttf);
}

* {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: none;
    font-family: pixelFont;
    border-radius: 0 !important;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: var(--bg-desktop);
    overflow: hidden;
}

.shadow {
    box-shadow: -4px 4px 0 var(--shadow);
}

/* Barra de Tarefas */
.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--button);
    border-top: 2px solid var(--light);
    border-left: 2px solid var(--light);
    border-right: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    padding: 0 6px;
}

.taskbar-icons {
    display: flex;
    align-items: center;
    padding: var(--padding);
    height: 90%;
    background: var(--button);
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
    cursor: pointer;
}

#clock {
    border: 2px solid var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.taskbar-icons:active {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.start-icon {
    width: 24px;
}

/* Ícones */
.shortcuts {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.desktop-icon {
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.desktop-icon img {
    width: 32px;
}

.desktop-icon span {
    margin-top: 4px;
    display: block;
    font-size: 13px;
}

/* Janelas */
.window {
    width: 60%;
    height: 80%;
    background: var(--bg-window);

    position: absolute;
    display: none;

    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.title-bar {
    background: var(--bg-title);
    color: white;

    height: 28px;
    padding: var(--padding);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--dark);
}

.window-buttons {
    display: flex;
    gap: 4px;
}

.title-bar button {
    height: 24px;
    padding: auto;
    height: 20px;
    cursor: pointer;
    background: var(--button);
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.title-bar button:active {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.window-content {
    padding: var(--padding);
    font-size: 14px;
}

#viewer {
    width: 100%;
    height: calc(100% - (var(--padding) * 3));
}

#viewer iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Explorer */
.folders {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.folder {
    width: 90px;
    text-align: center;
    cursor: pointer;
    padding: 4px;
}

.folder img {
    width: 56px;
    image-rendering: pixelated;
}

.folder span {
    margin-top: 6px;
    display: block;
    font-size: 13px;
    color: var(--dark);
}


.folder:hover {
    background: var(--light);
}

/* Área dos arquivos */
.file-list {
    padding: 16px;
    border-top: 2px solid var(--bg-title);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.file-item {
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    background: var(--bg-window);
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);

    color: var(--dark);
}

.file-item:active {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.file-icon {
    width: 24px;
}

.file-button {
    width: 20%;
    background: var(--button);
    padding: 4px;
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
    cursor: pointer;
}

.file-button:hover,
.file-item:hover {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

#breadcrumb {
    margin: var(--padding) calc(var(--padding) * 2);
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
    cursor: pointer;
}

.breadcrumb-buttons {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}