/* Shortcut icons */
.shortcuts {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.desktop-icon {
    width: 70px;
    text-align: center;
    cursor: url("../assets/click.png"), pointer;
}

.desktop-icon img {
    width: 32px;
}

.desktop-icon span {
    margin-top: 4px;
    display: block;
    font-size: 13px;
}