/* Área dos arquivos */
.file-list {
    padding: 16px;
    border-top: 2px solid var(--bg-title);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.file-item {
    cursor: url("../assets/click.png"), auto;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    background: var(--bg-window);
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);

    color: var(--dark);
}

.file-item:active {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.file-item:hover {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
    background: var(--bg-title);
    color: white;
}

/* Ícones */
.file-icon {
    width: 24px;
}

.file-content {
    flex: 1;
}

/* Arquivo */
.file-button {
    width: 20%;
    background: var(--button);
    padding: 4px;
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
    cursor: url("../assets/click.png"), pointer;
}

.file-button:hover {
    border-color: var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
    background: var(--bg-title);
    color: white;
}

/* Caminho dos aruqivos */
#breadcrumb {
    margin: var(--padding) calc(var(--padding) * 2);
    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
    cursor: url("../assets/click.png"), pointer;
}

.breadcrumb-buttons {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

/*  layout  */
.explorer-rect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* Pastas */
.folders {
    padding: 16px;
    min-width: 25%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow-y: auto;

    border-right: 2px solid var(--light);
    border-left: 2px solid var(--dark);
}

.folder {
    display: flex;
    align-items: center;
    gap: 12px;

    border: 2px solid transparent;
    cursor: url("../assets/click.png"), pointer;
    padding: 4px;
    text-align: center;
}

.folder:hover {
    background: var(--bg-title);
    border: 2px solid var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
    cursor: url("../assets/click.png"), pointer;
}

.folder img {
    width: 32px;
    image-rendering: pixelated;
}

.folder span {
    display: block;
    font-size: 12px;
    color: var(--dark);
}

/* Git */
.git-div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.git-div img {
    height: 24px;
}

.git-div a {
    color: var(--bg-title);
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.file-item:hover .git-div a {
    color: white;
}