#start-menu {
    position: absolute;
    width: 25%;
    height: 55%;
    left: 8px;
    bottom: 32px;

    display: flex;
    background: var(--button);

    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.label {
    width: 40px;
    height: 100%;
    background-color: var(--bg-title);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);
}

.label p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    color: white;
    font-weight: bold;
    margin: 0;
}

#applications {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: var(--padding);
    height: 100%;
}

#start-menu button {
    margin: 6px 0;
    width: 100%;
    padding: 6px;

    text-align: left;
    background: var(--button);

    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

#start-menu button:hover {
    border: 2px solid var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);

    background: var(--bg-title);
    color: white;
}

#start-menu .github {
    margin-top: auto;
}

.side-profile {
    width: 50%;
    height: 100%;
    background-color: var(--bg-title);

    text-align: center;
    color: white;

    border: 2px solid var(--dark);
    border-right-color: var(--light);
    border-bottom-color: var(--light);

    display: flex;
    flex-direction: column;
}

.side-profile-img {
    height: 20%;
    margin: -32px auto;

    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.side-profile p {
    margin-top: 50%;
}

.sub-menu-div {
    z-index: 99;
    position: absolute;

    background-color: var(--button);
    min-width: 128px;
    width: max-content;

    border: 2px solid var(--light);
    border-right-color: var(--dark);
    border-bottom-color: var(--dark);
}

.side-profile-button {
    width: 90% !important;
    align-self: center;
}

.sub-menu-button {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    color: var(--bg-title);
    justify-content: space-between;
}

.sub-menu-button:hover {
    padding: var(--padding);
    background: var(--bg-title);
    color: white;
}

.category-icon {
    width: 16px;
}